.particles-container {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  /*z-index: 0;*/
}

.content {
  position: relative;
  /*z-index: 1;*/
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.start-btn {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background-color: #4cd863;
  color: #212121;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.start-btn:hover {
  background-color: #36b855;
}

.count-particles {
  display: none;
}
