# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/frontend/node_modules
/backend/node_modules
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
frontend/.vscode/*
!frontend/.vscode/settings.json
!frontend/.vscode/tasks.json
!frontend/.vscode/launch.json
!frontend/.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
frontend/.angular
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
/backend/.env

# System files
.DS_Store
Thumbs.db
