html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: background-color 3s ease;
  background-color: #000;
}

body.light-theme {
  background-color: #fff;
}
