/*html, body {*/
/*  height: 100%;*/
/*  margin: 0;*/
/*  font-family: Roboto, "Helvetica Neue", sans-serif;*/
/*  !*transition: background-color 3s ease;*!*/
/*  background-color: #000;*/
/*}*/

/*body.light-theme {*/
/*  background-color: #fff;*/
/*}*/

/*body.light-theme #particles-js {*/
/*  display: none;*/
/*}*/

/*html {*/
/*  height: 100%;*/
/*  transition: background-color 3s ease;*/
/*  margin: 0;*/
/*  font-family: Roboto, "Helvetica Neue", sans-serif;*/
/* }*/
/*body {*/
/*   margin: 0;*/
/*   min-height: 100%;*/
/*   background-color: #000;*/
/* }*/
/* body.light-theme {*/
/*   background-color: #fff;*/
/*}*/
/* styles.css */


/*Jesus Christ lol*/

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background: #000;
  transition: background 3s ease;
}
body.light-theme {
  background: #F2F3F4;
}

#particles-js {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: #fff;
}


